body {
  background-color: none;
}
.App {
  background-color: none;
  padding: 5%;
  gap: normal;
  margin: 10%;
  width: 100%;
  display: block;
  flex-direction: wrap;
  align-items: center;
}
.card-container {
  margin-top: 2%;
  background-color: none;
}
.header {
  display: block;
  width: 100%;
  display: block;
  flex-direction: wrap;
  margin-bottom: 5%;
}
