body {
  background-color: none;
}
.App {
  background-color: none;
  margin: auto;
  width: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-container {
  margin-top: 2%;
  background-color: none;
}
.header {
  background-image: url("../images//background.jpeg");
  image-resolution: inherit;
  background-repeat: no-repeat;
}
